*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.hprof
*.log
*.idx
*.lock
*.dmp
.cxx
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
.gradle
/gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
.DS_Store
/out
/captures
/build
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
.DS_Store
/out